body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #7cb3dc8e;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #fffbfb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 252, 252, 0.2);
    width: 300px;
}

#display {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 1.5em;
    text-align: right;
    border: 1px solid #ee9393;
    border-radius: 5px;
    padding: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 50px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #130202;
    color: #fff;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #003f7f;
}

.equal {
    width: 60px
}